<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>HealthCare</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'style.css'%}" />
</head>

<body>
  
  <div class="blue-rectangle">
    <div class="text">
      <img src="/static/img/healyou.png">
      <p><h1>Explore Modern HealthCare With AI Solutions</h1></p>
    </div>

    <div class="main-rectangle">
      <div class="container">
        <p>&copy; HealYou.com.    All rights reserved.</p>
      </div>
    </div>
  </div>
</body>

</html>

