<!--<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>HealthCare</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'style.css'%}" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Charmonman&display=swap" rel="stylesheet">
</head>

<body>
  
  <div class="blue-rectangle">
    <div class="images">
      <img width=250px; src="/static/img/upper1.png">
      <img width=550px src="/static/img/healyou.png">
      <img src="/static/img/upper2.png">
    </div>
    <div class="text">
      <p><h1>Explore Modern HealthCare With AI Solutions</h1></p>
    </div>
    <div class="main-rectangle">
      
      <div class="Left">
      </div>

      <div class="ML">
        <h1>Welcome to Our HealthCare<br>Login/Register</h1>
      </div>
      <div class="container">
        <p>&copy; HealYou.com.    All rights reserved.</p>
      </div>
    </div>
  </div>
</body>

</html>-->
