<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>HealYou</title>
  {% load static %}
  <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
  <link rel="stylesheet" href="{% static 'style.css'%}" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Charmonman&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  
  <div class="blue-rectangle">
    <div class="images">
      <img height=350px; src="/static/img/upper1.png">
      <img height=350px; src="/static/img/healyou.png">
      <img height=350px; src="/static/img/upper2.png">
    </div>
    
    <div id="text">
      <p><h1>Explore Modern HealthCare With AI Solutions</h1></p>
    </div>
    <div class="main-rectangle">
      <div class="Left">
        <center><img width=400px src="/static/img/healyou.png"></center>
        <br><br>
        
          <nav class="navbar">
          <a href="/html/">Home</a>
          <br>
          <a href="/css/">Dashboard</a> 
          <br>
          <a href="/js/">Find a Doctor</a>
          <br>
          <a href="/python/">Health Diets</a>
          <br>
          <a href="/html/">Health Diets</a>
          <br>
          <a href="/html/">Home Remidies</a>
          <br>
          <a href="/html/">Appointments</a>
          <br>
        </nav>
      
      <div class="Register">
          <p>Register</p>
      </div>
    </div>
        <div class="Right"> 
          <h1>  Welcome to Our HealthCare</h1>
          <div class="content">
            <h2>Prediction is all about to early cure<h2>
          </div>
          <div class='form' >
            <form action="/result" method="POST">
              <label for="age">Age :</label>
              <input type="text" id="age" name="age">
              <br><br>
              <label for="w_class">Hypertension</label>
              <select id="w_class" name="w_class">
                <option value="0">YES</option>
                <option value="1">NO</option>
                <br><br>
              </select>
              <br><br>
              <label for="edu">Heart Disease</label>
              <select id="edu" name="edu">
                <option value="0">YES</option>
                <option value="1">NO</option>
              </select>
              <br><br>
              <label for="martial_stat">Marital Status</label>
              <select id="martial_stat" name="martial_stat">
                <option value="0">not married</option>
              <option value="1">married</option>
            </select>
            <br><br>
            <label for="martial_stat">Average Glucose Level</label>
              <input type="text" id="intext" name="intext" value="">
              <br><br>
            <input type="submit" id="submit" value="Submit">
          </form>
        </div>
      </div>
        
    </div>
      
      <!--
      <div class="container">
        <p>&copy; HealYou.com.    All rights reserved.</p>
      </div>-->
    </div>
  </div>
</body>

</html>

